<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de mis familiares</title>
</head>
<body>
    <h1> Lista de mis familiares con sus datos </h1>
    <ul>
        {% for cada_persona in familiares %}
            <li>
                {{cada_persona.nombre}} - DNI: {{cada_persona.dni}} - Fecha nacimiento: {{cada_persona.nacido}}
            </li>
        {% endfor %}
    </ul>
</body>
</html>